/* <style type="text/css"> */
body {
text-align: center;
}
header{
    background-image: url(new.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
h1 {
position: absolute;
top:50px;
left: 400px;
font-family: sans-serif;
font-style: italic;
background-color:rosybrown;
color: rgb(230, 155, 17);
animation:text 3s 100;
}
@keyframes text{
    0%{
        color:rgb(17, 230, 63);
    
    }
    20%{
        color: yellow;
    }
    30%{
        letter-spacing: 20px;
    }
    50%{
        color: red;
    }
    80%{
        letter-spacing: 10px;
    }
    90%{
        letter-spacing: 5px;
    }
}
p{
    position: absolute;
    top:150px;
    left: 15px;
    right: 500px;
 
    color: #fff;
    font-family:sans-serif;
    font-size: 17px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 15px;
    margin-right: 15px;

}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration:none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color:#000;
}
h2 {
position: relative;
top: 100px;
left:200px; 
right: 500px;   
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: white;


}
.svgClass {

position: relative;
top: 120px;
float:left;
width:70%;
color:#fff;
padding:10px;
box-sizing:border-box;
}

polygon{
fill:white; 
transition: 1s fill;
}

polygon:hover {
fill: rgb(255, 255, 255);
}

.lideta { 
    stroke:white;
    stroke-width: 2px;
    stroke-dasharray: 3; 
    fill:rgb(209, 125, 69);
    fill-opacity: 50%;
}

.kirkos{
    stroke:white;
    stroke-width: 1px;
    stroke-dasharray: 3; 
    fill:rgb(17, 170, 197);
    fill-opacity: 10%;}
.nifas-silk{
    stroke:white;
    stroke-width: 1px;
    stroke-dasharray: 3; 
    fill:rgb(213, 228, 146); 
    fill-opacity: 50%;
}

.akaki-kaliti {
    stroke:white;
    stroke-width: 1px;
    stroke-dasharray: 3; 
    fill:rgba(255, 0, 0, 0.808);
    fill-opacity: 10%;
}

.yeka{
    stroke:white;
    stroke-width: 1px;
    stroke-dasharray: 3;
    fill:rgb(205, 247, 127);
    fill-opacity: 10%;
}

.bole{
    stroke:white;
    stroke-width: 1px;
    stroke-dasharray: 3; 
    fill:rgb(253, 114, 179); 
    fill-opacity: 10%;
}

.kolfe-keraniyo{
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 3; 
    fill:rgb(177, 128, 241); 
    fill-opacity: 50%;
}

.addis-ketema{
    stroke:white;
    stroke-width: 1px;
    stroke-dasharray: 3;
    fill:rgb(240, 205, 108);
    fill-opacity: 50%;
}

.arada{stroke:white;
    stroke-width: 1px;
    stroke-dasharray: 3; 
    fill:rgb(54, 58, 114); 
    fill-opacity: 50%;
}

.gulele{
    stroke:white;
    stroke-width: 1px; 
    stroke-dasharray: 3; 
    fill:rgb(69, 87, 7);
    fill-opacity: 50%;
}
.removed{
display: none;
}
button{
    position: relative;
    top: 50px;
    color: white;
    font-size: 20px;
    background:gray;
    opacity: 0.8;
    border: white,2px;
    outline: none;
    left: 0%;
    width: 260px;
    text-align: left;
}
#button:hover{
    fill: rgb(221, 83, 83);
}
#sidebar{
    text-align: left;
    float:right;
    width:30%;
    background:none;
    color:#fff;
    padding:0px;
    box-sizing:border-box;
}